<h2>PACIENTES</h2>

<button type="button" class="btn btn-outline-primary" [routerLink]="['/paciente-crud']">Crear</button>


<table class='table table-responsive-xxl' aria-labelledby="tableLabel" *ngIf="pacientes">

  <thead >
    <tr>
      <th></th>
      <th></th>
      <th>Expediente</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>DPI</th>
      <th>Fecha Nacimiento</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th>id</th>

    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let p of pacientes">

      <button class="btn btn-outline-secondary" [routerLink]="['/paciente/edit', p.expediente]">editar</button>

      <button class="btn btn-outline-danger" (click)="delete(p.expediente)" >
        Borrar
      </button>
      <td></td>
      <td>{{ p.expediente}}</td>
      <td>{{ p.nombre }}</td>
      <td>{{ p.apellido }}</td>
      <td>{{ p.dpi }}</td>
      <td>{{ p.nacimiento| date:'dd/MM/yyyy'}}</td>
      <td>{{ p.sexo }}</td>
      <td> {{ calcularEdad(p.nacimiento)}} </td>
      <td>{{p.id}}</td>


    </tr>
  </tbody>

</table>


