<h2>PACIENTES</h2>
<form onsubmit="getPaciente()">
  <label for="busqueda">Buscar paciente:</label>
  <input type="text" id="busqueda" name="busqueda">
  <button type="submit">Buscar</button>
</form>

<button type="button" class="btn btn-outline-primary" [routerLink]="['/paciente-crud']">Crear</button>


<table class='table table-responsive-xxl' aria-labelledby="tableLabel" *ngIf="pacientes">

  <thead >
    <tr>
      <th></th>
      <th></th>
      <th (click)="sortTable('expediente')">EXP</th>
      <th (click)="sortTable('nombre')">NOMBRE</th>
      <th (click)="sortTable('apellido')">APELLIDO</th>
      <th (click)="sortTable('dpi')">DPI</th>
      <th (click)="sortTable('nacimiento')">FECHA NACIMIENTO</th>
      <th (click)="sortTable('sexo')">SEXO</th>
      <th (click)="sortTable('edad')">EDAD</th>
      <th (click)="sortTable('id')">ID</th>

    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let p of pacientes">

      <button class="btn btn-outline-secondary" [routerLink]="['/paciente/edit', p.expediente]">editar</button>

      <button class="btn btn-outline-danger" (click)="delete(p.expediente)" >
        Borrar
      </button>
      <td></td>
      <td>{{ p.expediente}}</td>
      <td>{{ p.nombre }}</td>
      <td>{{ p.apellido }}</td>
      <td>{{ p.dpi }}</td>
      <td>{{ p.nacimiento| date:'dd/MM/yyyy'}}</td>
      <td>{{ p.sexo }}</td>
      <td> {{ calcularEdad(p.nacimiento)}} </td>
      <td>{{p.id}}</td>


    </tr>
  </tbody>

</table>


