<h2>PACIENTES</h2>

<div class="search-container">
  <input type="text" class="form-control-sm"  [(ngModel)]="searchText" placeholder="Buscar # expediente">
  <button class="btn btn-outline-dark" (click)="searchPaciente()">Buscar</button>
</div>

<button type="button" class="btn btn-outline-primary" [routerLink]="['/paciente-crud']">Crear</button>

<table class='table table-responsive-xxl' aria-labelledby="tableLabel" *ngIf="pacientes.length > 0">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th (click)="sortTable('expediente')">EXP</th>
      <th (click)="sortTable('nombre')">NOMBRE</th>
      <th (click)="sortTable('apellido')">APELLIDO</th>
      <th (click)="sortTable('dpi')">DPI</th>
      <th (click)="sortTable('nacimiento')">FECHA NACIMIENTO</th>
      <th (click)="sortTable('sexo')">SEXO</th>
      <th (click)="sortTable('edad')">EDAD</th>
      <th (click)="sortTable('id')">ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let paciente of filteredPacientes"  >
      <td>
        <button class="btn btn-outline-secondary" [routerLink]="['/paciente/edit', paciente.expediente]">editar</button>
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="delete(paciente.expediente)">Borrar</button>
      </td>
      <td>{{ paciente.expediente }}</td>
      <td>{{ paciente.nombre }}</td>
      <td>{{ paciente.apellido }}</td>
      <td>{{ paciente.dpi }}</td>
      <td>{{ paciente.nacimiento | date:'dd/MM/yyyy' }}</td>
      <td>{{ paciente.sexo }}</td>
      <td>{{ calcularEdad(paciente.nacimiento) }}</td>
      <td>{{ paciente.id }}</td>
    </tr>
  </tbody>
</table>
